@font-face {
    font-family: 'quicksandregular';
    src: url('quicksand-regular-webfont.woff2') format('woff2'),
         url('quicksand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rubikbold';
    src: url('rubik-bold-webfont.woff2') format('woff2'),
         url('rubik-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    font-family: quicksandregular, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-display: swap;
    box-sizing: border-box;
    border: 1px solid tomato;
}

#navbar, #top-links, #hero, #about, #tutorials, #experience, #testimonials, .testimonials-first, .testimonials-second, #bookings, footer {
    display: flex;
}

/** Sizes and default lengths **/

html {
    font-size: 16px;
}

#navbar {
    height: 45px;
    position: fixed;
    width: 100%;
}

#hero {
    height: calc(80vh - 45px);
    margin-top: 45px;
}

#about {
    height: 20vh;
}

#tutorials, #experience, #testimonials, #bookings {
    height: 500px;
}

footer {
    height: 100px;
}